body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	margin: 0;
	padding: 0;

	> #cover {
		background-color: #7953C4;
		padding: 2em;
		text-align: center;
		color: #fff;
	}

	> #wikis {
		text-align: center;
		padding: 2em;

		> div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			> div {
				flex: 0 0 10vw;
				margin: 2em;
				outline: none;
				min-width: 200px;

				@media (max-width: 615px) {

					margin: 0;
					margin-top: 0.5em;
					margin-bottom: 0.5em;
					min-width: 100%;

					> a {
						display: flex;
						flex-direction: row;

						> img {
							max-width: 20vw;
							max-height: 50px;
							width: auto !important;
							flex-grow: 0;
							flex-shrink: 0;
						}

						> div {
							flex-grow: 1;
							display: flex;
							justify-content: center;
							align-items: center;
						}

					}

				}

				&.suggested {
					outline: 2.5px dashed #f80;
					outline-offset: -2.5px;
				}

				&:hover {

					&:not(.suggested) {
						outline: 2.5px dashed #c7c7c7;
						background-color: #e4e4e4;
					}

					> a > div {
						color: #fff;
						background-color: #25aff4;
					}
				}

				&:focus {
					
					> a {

						> div {
							outline: none;
						}	
					}
				}

				> a {

					> img {
						width: calc(100% - 2em);
						height: auto;
					}

					> * {
						padding: 1em;
					}
				}
			}
		}
	}
}

a {
	text-decoration: none;
	color: #25aff4;
}

* {
	overflow: auto;
}
