%wiki {
    margin: 2em;
    min-width: 200px;
    outline-offset: -2.5px;
    list-style: none;

    >a {

        >* {
            padding: 1em;
        }

        >img {
            width: calc(100% - 2em);
            height: auto;

            @media (prefers-color-scheme: light) {
                filter: brightness(1);
            }

            @media (prefers-color-scheme: dark) {
                filter: brightness(0.8);
            }
        }

    }

    &.suggested {
        outline: 2.5px dashed;

        @media (prefers-color-scheme: light) {
            outline-color: var(--bright-suggested);
        }

        @media (prefers-color-scheme: dark) {
            outline-color: var(--dark-suggested);
        }


    }

    &:hover {
        box-shadow: 0 0 5px var(--shadow);

        @media (prefers-color-scheme: light) {
            background-color: var(--brighten);
        }

        @media (prefers-color-scheme: dark) {
            background-color: var(--darken);
        }

        &:not(.suggested) {
            outline: 2.5px dashed;

            @media (prefers-color-scheme: light) {
                outline-color: var(--bright-outline-hover);
            }

            @media (prefers-color-scheme: dark) {
                outline-color: var(--dark-outline-hover);
            }

        }

        >a {

            >div {

                @media (prefers-color-scheme: light) {
                    color: var(--text-bright);
                    background-color: var(--bright-blue);
                }

                @media (prefers-color-scheme: dark) {
                    color: var(--text-dark);
                    background-color: var(--dark-suggested);
                }
            }
        }
    }

    @media (max-width: 615px) {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        min-width: 100%;

        >a {
            display: flex;
            flex-direction: row;

            >img {
                max-width: 20vw;
                max-height: 50px;
                width: auto !important;
                flex-grow: 0;
                flex-shrink: 0;
            }

            >div {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
